<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.dcloud.uni_modules.uniAddPhoneContact">
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.WRITE_CONTACTS" />
  <application>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.uniaddphonecontact.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/uni_add_phone_contact_file_paths" />
    </provider>
  </application>
</manifest>
