<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
	package="uts.sdk.modules.uniPush">

	<application>
		<activity android:name="io.dcloud.uniapp.UniAppActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="io.dcloud.unipush" android:path="/" android:scheme="unipush" />
			</intent-filter>
		</activity>

		<!-- 如果插件中注册组件时, 包名应为: `uts.sdk.modules.uniPush.PushActionService` , 但由于此插件是内部插件, 所以包名改为: `uts.sdk.modules.DCloudUniPush.PushActionService` -->
		<service android:name="uts.sdk.modules.DCloudUniPush.PushActionService" android:exported="false" />

		<meta-data android:name="GETUI_APPID" android:value="${GETUI_APPID}" />
		
		<meta-data android:name="MIPUSH_APPID" android:value="XM_${MIPUSH_APPID}" />
		<meta-data android:name="MIPUSH_APPKEY" android:value="XM_${MIPUSH_APPKEY}" />
		<meta-data android:name="MEIZUPUSH_APPID" android:value="MZ_${MEIZUPUSH_APPID}" />
		<meta-data android:name="MEIZUPUSH_APPKEY" android:value="MZ_${MEIZUPUSH_APPKEY}" />
		<meta-data android:name="OPPOPUSH_APPKEY" android:value="OP_${OPPOPUSH_APPKEY}" />
		<meta-data android:name="OPPOPUSH_APPSECRET" android:value="OP_${OPPOPUSH_APPSECRET}" />
		<meta-data android:name="com.huawei.hms.client.appid" android:value="${com.huawei.hms.client.appid}" />
		<meta-data android:name="com.vivo.push.app_id" android:value="${com.vivo.push.app_id}" />
		<meta-data android:name="com.vivo.push.api_key" android:value="${com.vivo.push.api_key}" />
		<meta-data android:name="dcloud_unipush_auto_notification" android:value="${dcloud_unipush_auto_notification}" />

	</application>


</manifest>